*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --color1: #1D2F6F;
    --color2: #8DA7BE;
    --color3: #F9C784;
    --color4: #423629;
    --color5: #96031A;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.header{
    grid-area: header;
    width: 100%;
}

.novedades{
    grid-area: novedades;
}

.main-content{
    grid-area: main;
}

.imageContainer{
    grid-area: main;
}

.main-content h2{
    margin: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.5rem;
    border-radius: 15px;
    background-color: #FFFFFF;
}

/* .videoContainer{
    width: auto;
    text-align: center;
    padding: 15px;
    border: solid var(--color1);
    border-radius: 20px;
    border-width: 5px;
    margin-left: 400px;
    margin-right: 400px;
    margin-block: 50px;
} */

.main-content{
    width: auto;
    text-align: center;
    padding: 15px;
    border: solid var(--color1);
    border-radius: 20px;
    border-width: 5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-block: 100px;
    background-color: var(--color2);
}

.main-content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.info-content{
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
    margin: 20px;
    border: solid var(--color3);
    border-radius: 20px;
    border-width: 5px;
    background-color: var(--color4);
    color: #FFFFFF;
}

.info-content img{
    object-fit: cover;
    object-position: center center;
}

.info-content p{
    padding: 15px;
}

.resize {
    width: auto;
    height : 600px;
}

.form{
    padding: 5px;
}


.imageContainer__info h3{
    color: var(--color1);
    font-family: monospace;
    font-size: 22px;
}

footer{
    grid-area: footer;
}

body{
    background-color: var(--color1);
}

.navbar{
    background-color: var(--color3);
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar li{
    display: inline-block;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}
.navbar ul {
    list-style: none;
    font-size: 0;
}

.navbar ul li{
    display: block;
    position:relative;
}

.navbar ul ul {
    position: absolute;
    display: none;
}
.navbar ul ul li{
    margin-left: 160px;
    padding: 2px;
}

.navbar ul li:hover ul{
    display: block;
}

.logo img{
    height: 200px;
    width: 200px;
    transition: all 500ms;
}

.banner{
    width: 100%;
    background:url(./assets/img/banner2.png);
    height: 650px;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

.banner h1{
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.678);
    line-height: 650px;
    letter-spacing: 5px;
    font-family: monospace;
    font-size: 6rem;
}

.navbar p{
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.main-form{
    height: max-content;
    box-shadow: 5px 10px 5px #1d2f6f88;
    border-radius: 4px;
    width: 100%;
}

.formulario{
    background-color: #F9C784;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.form-imput{
    padding: 10px;
    margin: 10px 10px 5px 5px;
    width: 100%;
    border-radius: 4px;
    height: 50px;
    border: none;
}

@media (max-width:412px){

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .navbar ul li{
        display: block;
    }

    .navbar li{
        padding: 2px;
        margin: 5px;
    }

    .header{
        grid-area: header;
    }

    .navbar ul li a {
        font-size: 1.5rem;
    }

    .banner h1{
        font-size: 2rem;
        text-align: center;
    }

    .main-content{
            flex-direction: column;
            width: auto;
            height: auto;
            text-align: center;
            padding: 15px;
            margin: 20px;
            border: solid var(--color1);
            border-radius: 20px;
            border-width: 5px;
            background-color: var(--color2);
            margin-block: 15px;
    }

    .info-content{
        grid-area: main;
        grid-column: 1 / 1;
        flex-direction: column;
        width: auto;
        height: auto;
        text-align: center;
        padding: 15px;
        margin: 20px;
        border: solid var(--color3);
        border-radius: 20px;
        border-width: 5px;
        background-color: var(--color4);
        margin-block: 15px;
    }

    .info-content img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .main-content h2{
        font-size: 20px;
    }
        
    .main-content img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
    
    .main-content iframe{
        width: fit-content;
        height: fit-content;
    }

    .imageContainer__info h3{
        color: var(--color1);
        font-family: monospace;
        font-size: 15px;
    }

    .imageContainer__info p{        
        font-size: 10px;
    }

}